Backup_2026-02-04/AI AUTOMATION 24  ( WEBSITE )
{
  "updatedAt": "2026-02-03T18:30:58.077Z",
  "createdAt": "2026-01-21T14:44:43.395Z",
  "id": "iREPbpRE6HQILFIH",
  "name": "AI AUTOMATION 24  ( WEBSITE )",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai_automation_24",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -944
      ],
      "id": "1e7b738b-8d78-4b14-b753-e3f01538cd3b",
      "name": "Webhook",
      "webhookId": "e53d4c09-be90-4544-8075-46a9785c656e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.messages[1].content }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        96,
        -944
      ],
      "id": "b50db047-d872-4fcf-b730-eb6d3306cb2f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        -944
      ],
      "id": "bddae3ac-6fab-43ed-952d-b4040d8628b1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        -688
      ],
      "id": "8994ab43-ddda-47f8-bc72-ee09466d31b0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kJLoRYIDwLZ2nCv7",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -144,
        -944
      ],
      "id": "27bc8f09-bb9f-4cb1-8b2d-502e54f4780a",
      "name": "Wait",
      "webhookId": "310971a9-c0c2-4339-aa2c-3bbbaf63fdfa"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.messages[3].content }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        -688
      ],
      "id": "124e1c61-2b46-42f3-bdd2-aff7d9190550",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "server3.automationlearners.pro",
            "user-agent": "Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.70.0)",
            "content-length": "492",
            "accept": "*/*",
            "accept-encoding": "gzip,br",
            "accept-language": "*",
            "content-type": "application/json",
            "x-forwarded-for": "65.2.171.109",
            "x-forwarded-host": "server3.automationlearners.pro",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3b827d7ca05b",
            "x-real-ip": "65.2.171.109"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "hi",
            "image": null,
            "messages": [
              {
                "role": "assistant",
                "content": "Welcome to AUTOMATION 24. I'm your AI solutions consultant. How can I assist you with our automation and chatbot services today? You can also share images with me!"
              },
              {
                "role": "user",
                "content": "hi"
              },
              {
                "role": "assistant",
                "content": "I apologize for the inconvenience. Please try again or reach out to us directly via WhatsApp for immediate assistance."
              },
              {
                "role": "user",
                "content": "hi"
              }
            ],
            "timestamp": "2026-01-23T16:07:27.919Z"
          },
          "webhookUrl": "https://server3.automationlearners.pro/webhook/ai_automation_24",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "914fe465-b594-4456-9632-cce59216c9b7",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-21T14:44:43.398Z",
      "createdAt": "2026-01-21T14:44:43.398Z",
      "role": "workflow:owner",
      "workflowId": "iREPbpRE6HQILFIH",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}