Backup_2026-02-11/File Backup Automation
{
  "updatedAt": "2025-10-31T11:43:34.000Z",
  "createdAt": "2025-10-31T09:54:38.160Z",
  "id": "Bwyjymqq9jFvJdpX",
  "name": "File Backup Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1pyz0s7De5JVatDquY2n1ccm6e404aGzm",
            "mode": "list",
            "cachedResultName": "Tast 999",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1pyz0s7De5JVatDquY2n1ccm6e404aGzm"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "8927b973-5ab4-4c91-aab9-dc4ea93b805b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Iv0BVNhyYkeBEM27",
          "name": "Google Drive account 38"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        0
      ],
      "id": "923e2f7b-8c06-442b-8073-89298567ebdb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "9199291b-3c28-42e8-b20d-b57ab95333ff",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Iv0BVNhyYkeBEM27",
          "name": "Google Drive account 38"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "be696f2c-456d-4a4a-b44b-614d05f18860",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Iv0BVNhyYkeBEM27",
          "name": "Google Drive account 38"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.currentDate }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1DLFDKbO0bhe_O1u-hVVSsVQMVdPODsOx",
          "mode": "list",
          "cachedResultName": "Tast Backup",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DLFDKbO0bhe_O1u-hVVSsVQMVdPODsOx"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        0
      ],
      "id": "c5d20d1c-17fa-409a-87cf-25c0c06f0ede",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Iv0BVNhyYkeBEM27",
          "name": "Google Drive account 38"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -448,
        0
      ],
      "id": "d9a9e0ee-5c90-4c0e-9252-1fe73493422b",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "3f3dbf0a-7491-48a2-8ee7-c53dff2700ec",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        -192
      ],
      "id": "2cb3b03f-a6ed-4e5b-b487-55c995ed817a",
      "name": "Limit"
    },
    {
      "parameters": {
        "sendTo": "ashiktalukder336@gmail.com",
        "subject": "Today backup file successful",
        "emailType": "text",
        "message": "=Today's files have been backed up, check them out. \n\nDate & Time : {{ $('Date & Time').item.json.currentDate }}\nFile Name : {{ $('Create folder').item.json.name }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Tast 999"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        -192
      ],
      "id": "954d71e5-bc38-472a-965f-983abfe3d308",
      "name": "Send a message",
      "webhookId": "e3c318bd-0da6-4655-be00-482a7b0fb534",
      "credentials": {
        "gmailOAuth2": {
          "id": "F4MZBexAGBJF5N0V",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        72
      ],
      "id": "6b8e40d2-b815-472e-9c9b-8db6d86f1da3",
      "name": "Wait",
      "webhookId": "389eeb82-a7ca-4e46-93a9-4227cd9f1f71"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "055d26b3-e56d-4d42-bbdc-f111f09dbff1",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T09:54:38.162Z",
      "createdAt": "2025-10-31T09:54:38.162Z",
      "role": "workflow:owner",
      "workflowId": "Bwyjymqq9jFvJdpX",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}