Backup_2026-02-06/Zakaria alam
{
  "updatedAt": "2025-11-03T21:46:17.000Z",
  "createdAt": "2025-10-31T11:55:54.801Z",
  "id": "s7CyMnezeTqkBkRb",
  "name": "Zakaria alam",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA",
          "mode": "list",
          "cachedResultName": "Tast 999- Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -928,
        544
      ],
      "id": "acb0f295-6c74-40ac-9d82-610e3d03b9b0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -256,
        544
      ],
      "id": "66d31d41-faa7-4b72-bab4-7eb91808fb79",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        544
      ],
      "id": "dba5017e-e62f-4036-82db-bd6ed4aeea8f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Gmail }}",
        "subject": "Verified B2B Contact Lists for Smarter Outreach ",
        "message": "=<!DOCTYPE html> <html lang=\"en\"> <head>     <meta charset=\"UTF-8\">     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">     <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">     <title>Email Template</title> </head> <body style=\"margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background-color: #f4f4f4;\">     <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f4f4f4;\">         <tr>             <td style=\"padding: 20px 0;\">                 <!-- Main Container -->                 <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" style=\"margin: 0 auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); max-width: 600px;\">                                          <!-- Header Section -->                     <tr>                         <td style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 8px 8px 0 0;\">                             <h1 style=\"margin: 0; color: #ffffff; font-size: 24px; font-weight: 600; letter-spacing: 0.5px;\">Verified B2B Lead Lists</h1>                         </td>                     </tr>                      <!-- Main Body Content -->                     <tr>                         <td style=\"padding: 40px 30px;\">                             <!-- Greeting -->                             <p style=\"margin: 0 0 20px 0; font-size: 16px; line-height: 1.6; color: #333333;\">                                 Hi <strong>{{ $json.Name }}</strong>,                             </p>                              <!-- Introduction -->                             <p style=\"margin: 0 0 20px 0; font-size: 15px; line-height: 1.6; color: #555555;\">                                 I am a <strong>Contact List Specialist</strong> & <strong style=\"color: #667eea;\">Level 2 Seller on Fiverr</strong>. I help businesses connect with their ideal prospects by providing <strong>100% verified email lists</strong> that drive better conversions.                             </p>                              <!-- Value Proposition -->                             <p style=\"margin: 0 0 30px 0; font-size: 15px; line-height: 1.6; color: #555555;\">                                 I'd love to offer you a <strong style=\"color: #667eea;\">free 50 sample leads</strong> so you can see how my lists boost outreach success.                             </p>                              <!-- CTA Button -->                             <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">                                 <tr>                                     <td style=\"text-align: center; padding: 10px 0 30px 0;\">                                         <a href=\"https://docs.google.com/spreadsheets/d/1OhkEgdmyZl5XkFXIEm9V__lULba_h5VSyFbEu7ov5T4/edit?gid=0#gid=0\" target=\"_blank\" style=\"display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: #ffffff; font-size: 16px; font-weight: 600; text-decoration: none; padding: 14px 35px; border-radius: 50px; box-shadow: 0 4px 15px rgba(102, 126, 234, 0.4);\">                                             📊 Get Sample Leads                                         </a>                                     </td>                                 </tr>                             </table>                              <!-- Divider Line -->                             <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">                                 <tr>                                     <td style=\"padding: 20px 0;\">                                         <div style=\"height: 1px; background-color: #e0e0e0;\"></div>                                     </td>                                 </tr>                             </table>                              <!-- Signature Section -->                             <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">                                 <tr>                                     <td style=\"padding-top: 10px;\">                                         <p style=\"margin: 0 0 15px 0; font-size: 15px; line-height: 1.5; color: #555555;\">                                             Thanks & Warm Regards,                                         </p>                                         <p style=\"margin: 0 0 5px 0; font-size: 18px; font-weight: 700; color: #333333;\">                                             Ashik Talukder                                         </p>                                         <p style=\"margin: 0 0 10px 0; font-size: 13px; line-height: 1.5; color: #667eea; font-weight: 600;\">                                             🏆 Top Rated on Upwork | Level 2 Seller on Fiverr                                         </p>                                         <p style=\"margin: 0 0 5px 0; font-size: 14px; line-height: 1.5; color: #555555;\">                                             📧 <a href=\"mailto:ashiktalukder336@gmail.com\" style=\"color: #667eea; text-decoration: none;\">ashiktalukder336@gmail.com</a>                                         </p>                                         <p style=\"margin: 0 0 20px 0; font-size: 14px; line-height: 1.5; color: #555555;\">                                             🌐 <a href=\"https://www.b2bgdc.com\" target=\"_blank\" style=\"color: #667eea; text-decoration: none;\">www.b2bgdc.com</a>                                         </p>                                     </td>                                 </tr>                             </table>                              <!-- Social Media Icons -->                             <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">                                 <tr>                                     <td style=\"text-align: center; padding: 20px 0 0 0;\">                                         <p style=\"margin: 0 0 15px 0; font-size: 14px; color: #888888;\">Connect with me:</p>                                         <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"margin: 0 auto;\">                                             <tr>                                                 <!-- LinkedIn -->                                                 <td style=\"padding: 0 10px;\">                                                     <a href=\"https://www.linkedin.com/in/md-ashik-talukder-7a9a2b280/\" target=\"_blank\" style=\"display: inline-block;\">                                                         <img src=\"https://cdn-icons-png.flaticon.com/512/174/174857.png\" alt=\"LinkedIn\" width=\"36\" height=\"36\" style=\"display: block; border: 0; border-radius: 50%;\">                                                     </a>                                                 </td>                                                 <!-- Facebook -->                                                 <td style=\"padding: 0 10px;\">                                                     <a href=\"https://www.facebook.com/mdashiktalukder01\" target=\"_blank\" style=\"display: inline-block;\">                                                         <img src=\"https://cdn-icons-png.flaticon.com/512/174/174848.png\" alt=\"Facebook\" width=\"36\" height=\"36\" style=\"display: block; border: 0; border-radius: 50%;\">                                                     </a>                                                 </td>                                                 <!-- WhatsApp -->                                                 <td style=\"padding: 0 10px;\">                                                     <a href=\"https://wa.me/+8801707159043\" target=\"_blank\" style=\"display: inline-block;\">                                                         <img src=\"https://cdn-icons-png.flaticon.com/512/174/174879.png\" alt=\"WhatsApp\" width=\"36\" height=\"36\" style=\"display: block; border: 0; border-radius: 50%;\">                                                     </a>                                                 </td>                                             </tr>                                         </table>                                     </td>                                 </tr>                             </table>                          </td>                     </tr>                      <!-- Footer Section -->                     <tr>                         <td style=\"background-color: #f8f9fa; padding: 20px 30px; text-align: center; border-radius: 0 0 8px 8px;\">                             <p style=\"margin: 0 0 8px 0; font-size: 12px; line-height: 1.5; color: #888888;\">                                 This email was sent to help you grow your business with quality leads.                             </p>                             <p style=\"margin: 0; font-size: 11px; line-height: 1.4; color: #aaaaaa;\">                                 If you'd prefer not to receive these emails, you can <a href=\"#\" style=\"color: #667eea; text-decoration: underline;\">unsubscribe here</a>.                             </p>                         </td>                     </tr>                  </table>             </td>         </tr>     </table> </body> </html>{{ $json.UniqueID }}",
        "options": {
          "appendAttribution": false,
          "senderName": "B2B GDC",
          "replyTo": "ashiktalukder9043@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        192,
        544
      ],
      "id": "191a57fc-bdbc-40da-8eb0-869f45b15d44",
      "name": "Send a message",
      "webhookId": "0556e093-efa0-42f2-bec8-47767e15023c",
      "credentials": {
        "gmailOAuth2": {
          "id": "F4MZBexAGBJF5N0V",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU",
          "mode": "list",
          "cachedResultName": "11.03.25- dan-South Florida_Lawyers_List_v1- 244 Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1180845993,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU/edit#gid=1180845993"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "Name": "={{ $('Get row(s) in sheet').item.json.Name }}",
            "Status": "SENT",
            "First_Email_Date": "={{ $now }}",
            "Reply_Received": "FALSE",
            "Follow_up_Sent": "FALSE",
            "Thread ID": "={{ $json.threadId }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First_Email_Date",
              "displayName": "First_Email_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reply_Received",
              "displayName": "Reply_Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow_up_Sent",
              "displayName": "Follow_up_Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow_up_Date",
              "displayName": "Follow_up_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        448
      ],
      "id": "d5772063-f6d8-4d43-9095-c3bd8914e54c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        544
      ],
      "id": "a9a0cad1-c565-4a41-9752-45f9b1c65b7f",
      "name": "Wait",
      "webhookId": "88787ae7-b5ed-4141-aeeb-3ded94836663"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4c16760-f71c-4a07-a705-d9d005f24275",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -480,
        544
      ],
      "id": "49ebb102-8d2c-405e-9b40-f1eb60c34ae3",
      "name": "Filter"
    },
    {
      "parameters": {
        "sendTo": "=ashiktalukder336@gmail.com",
        "subject": "=Today {{ $('Code in JavaScript').item.json.total_sent }}  email send successful ",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"Ashik\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Email Status Report</title>\n  <style>\n    body {\n      margin: 0;\n      padding: 0;\n      background-color: #f6f8fa;\n      font-family: Arial, sans-serif;\n      color: #333333;\n    }\n    .container {\n      max-width: 480px;\n      margin: 40px auto;\n      background: #ffffff;\n      border-radius: 8px;\n      box-shadow: 0 1px 5px rgba(0,0,0,0.1);\n      overflow: hidden;\n    }\n    .header {\n      background-color: #0078d7;\n      color: #ffffff;\n      text-align: center;\n      padding: 16px;\n      font-size: 18px;\n      font-weight: 600;\n    }\n    .content {\n      padding: 24px;\n      text-align: center;\n    }\n    .content h2 {\n      margin: 0 0 8px;\n      color: #0078d7;\n      font-size: 20px;\n    }\n    .content p {\n      margin: 0;\n      font-size: 15px;\n      line-height: 1.5;\n    }\n    .footer {\n      text-align: center;\n      background-color: #f0f1f3;\n      color: #666666;\n      font-size: 12px;\n      padding: 12px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      Daily Report\n    </div>\n    <div class=\"content\">\n      <h2>Today {{ $('Code in JavaScript').item.json.total_sent }} Email Send Successful</h2>\n      <p>All emails were delivered successfully and processed without error.</p>\n      <p>Have a productive day ahead.</p>\n    </div>\n    <div class=\"footer\">\n      © 2025 B2B GDC\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false,
          "senderName": "Email -Marketing"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        352
      ],
      "id": "8cc97f44-ee76-4e85-9d32-abd932a50cfc",
      "name": "Send a message1",
      "webhookId": "0556e093-efa0-42f2-bec8-47767e15023c",
      "credentials": {
        "gmailOAuth2": {
          "id": "F4MZBexAGBJF5N0V",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const totalSent = $input.all().length;\nreturn [{\n  json: {\n    total_sent: totalSent,\n    date: new Date().toISOString().split('T')[0],\n    message: `আপনার ${totalSent} টি Email সফলভাবে পাঠানো হয়েছে! ✅`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        352
      ],
      "id": "8054bbe8-e943-4c90-9188-29159f0b1080",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA",
          "mode": "list",
          "cachedResultName": "Tast 999- Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1746810039,
          "mode": "list",
          "cachedResultName": "Daily_Stats",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA/edit#gid=1746810039"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Completed",
            "Date": "={{$json[\"date\"]}}",
            "Emails_Sent": "={{$json[\"total_sent\"]}}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails_Sent",
              "displayName": "Emails_Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Replies_Received",
              "displayName": "Replies_Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        352
      ],
      "id": "7b8756b5-f728-4823-9cbf-3a5269f056c2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1152,
        544
      ],
      "id": "12a18e1a-d33b-40f4-a123-d7e29aa37041",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const row = item.json;\n  if (!row.UniqueID) {\n    row.UniqueID = 'ID' + Math.floor(100000 + Math.random() * 900000);\n  }\n  return { json: row };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        544
      ],
      "id": "086b670c-ee84-4c33-a04f-0deb9b88834d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bb68b4c-8fd7-4452-90fa-84837fc7c93d",
              "leftValue": "={{ $json.labelIds[0] }}",
              "rightValue": "Sant",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ $json.labelIds[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        544
      ],
      "id": "d9cd97c5-4cf5-4400-8384-ad66685e468b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA",
          "mode": "list",
          "cachedResultName": "Tast 999- Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Get row(s) in sheet').item.json.Name }}",
            "Status": "Cancel",
            "First_Email_Date": "FALSE",
            "Reply_Received": "FALSE",
            "Thread ID": "={{ $('Send a message').item.json.threadId }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_Email_Date",
              "displayName": "First_Email_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply_Received",
              "displayName": "Reply_Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow_up_Sent",
              "displayName": "Follow_up_Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow_up_Date",
              "displayName": "Follow_up_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        640
      ],
      "id": "a2f24df4-fd3b-4470-905b-ebff7511b589",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6897a230-2b0e-41d8-87ae-fc29a2018a26",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T11:55:54.803Z",
      "createdAt": "2025-10-31T11:55:54.803Z",
      "role": "workflow:owner",
      "workflowId": "s7CyMnezeTqkBkRb",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}