Backup_2026-02-25/18.12.25-Person People
{
  "updatedAt": "2025-12-30T21:55:51.841Z",
  "createdAt": "2025-11-01T14:17:05.469Z",
  "id": "vjP88GmCjb798UDz",
  "name": "18.12.25-Person People",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -560
      ],
      "id": "d2259808-15d0-4032-aa7b-46e0b9430ecc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c",
          "mode": "list",
          "cachedResultName": "13.12.25-Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        -560
      ],
      "id": "998a4385-a6b2-471b-a2d0-fd39531942e2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        -560
      ],
      "id": "50bdb4c3-a5ed-483c-a601-aeba9acd0815",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://api.millionverifier.com/api/v3/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api",
              "value": "HfB4PVeVtkYdIzVOZHzO31oui"
            },
            {
              "name": "email",
              "value": "={{ $('Apollo Api - person  people ').item.json.contacts[0].email }}"
            },
            {
              "name": "timeout",
              "value": "10"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        -912
      ],
      "id": "689cb22d-e51b-4dfd-9cac-54a980f4b983",
      "name": "Million Verify - Email Verify"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "kKErKoWtr-hFtCYEQRzxww"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"kKErKoWtr-hFtCYEQRzxww\",\n  \"q_organization_name\": \"{{ $json['Company Name'] }}\",\n  \"first_name\": \"{{ $json['Fast Name '] }}\",\n  \"last_name\": \"{{ $json['Last Name'] }}\",\n  \"per_page\": 18\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        -816
      ],
      "id": "755ee1c6-6afa-455a-ab0c-f2e98045dca7",
      "name": "Apollo Api - person  people "
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        -816
      ],
      "id": "3733c3eb-a78d-42bc-8f2f-ff9c8257fe33",
      "name": "Wait",
      "webhookId": "4ef621dd-93a6-4136-bf3d-66f9103934fd"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.quality }}",
                    "rightValue": "good",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b8a23ec5-7ab9-4d4d-873e-29ea62d3bad5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "good"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "136ee9fc-6b76-4881-bce8-0d1ae02b1191",
                    "leftValue": "={{ $json.quality }}",
                    "rightValue": "risky",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "risky"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1799dbcc-26d4-4cfb-8039-27953d7cc78f",
                    "leftValue": "={{ $json.quality }}",
                    "rightValue": "bad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1da7b6f4-6292-4ae1-a5d0-bd282d5d4bcb",
                    "leftValue": "={{ $json.email }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "N/A"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -240,
        -1296
      ],
      "id": "aeb89038-2f05-4383-845c-74050139d4de",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -16,
        -1360
      ],
      "id": "8f0596a9-aa60-41e6-8a11-78e772625a85",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c",
          "mode": "list",
          "cachedResultName": "13.12.25-Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fast Name ": "={{ $('Wait').item.json['Fast Name '] }}",
            "State": "Faile"
          },
          "matchingColumns": [
            "Fast Name "
          ],
          "schema": [
            {
              "id": "Fast Name ",
              "displayName": "Fast Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -1168
      ],
      "id": "797fa0bd-2a81-43ed-82e9-25c9f3f2907d",
      "name": "Update row in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c",
          "mode": "list",
          "cachedResultName": "13.12.25-Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "First Name",
              "lookupValue": "={{ $json.contacts[0].first_name }}"
            },
            {
              "lookupColumn": "Last Name",
              "lookupValue": "={{ $json.contacts[0].last_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        -816
      ],
      "id": "bebc5649-f469-4356-91b7-3f2b6d098af5",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "notesInFlow": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "509e33ec-3b8d-48a6-9f62-0cdb3b2f7b39",
              "leftValue": "={{ $json['First Name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "76368489-2fef-465a-8642-c087f4b1405c",
              "leftValue": "={{ $json['Last Name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        -816
      ],
      "id": "677a9596-b282-47c5-93cd-80cafb988d21",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -16,
        -1168
      ],
      "id": "e0a13613-6943-454a-a188-5ff3c767fd4d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company Name: {{ $('Apollo Api - person  people ').item.json.breadcrumbs[0].display_name }}\nTitle: {{ $('Apollo Api - person  people ').item.json.people[0].title }}\nHeadline: {{ $('Apollo Api - person  people ').item.json.people[0].headline }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a data enrichment specialist.\n\nYour task is to determine ONE clear industry for a person based on their\njob title, organization name, and company context.\n\nRules:\n- Output only ONE industry.\n- Use broad, standard CRM industries (e.g., Healthcare, Technology, Finance).\n- Prefer the person's actual working role over account/company name.\n- If hospital, nurse, medical, clinic, healthcare roles appear → Industry = Healthcare.\n- Do NOT explain your reasoning.\n- Do NOT return multiple industries.\n- If data is unclear, choose the most dominant professional industry.\n\nOutput format (JSON only):\n{\n  \"industry\": \"<Industry Name>\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1440,
        -912
      ],
      "id": "b3b5f60e-30a6-415b-bb6d-de7f9f7fd4d5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1424,
        -480
      ],
      "id": "0bbeeabb-4a95-43b5-9c23-99e47bbfb9d7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pXUTsjJAbzbKxF2A",
          "name": "freelancersshop@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1536,
        -688
      ],
      "id": "1a5889e1-2ece-4956-883d-72b420a32388",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"industry\": \"<Industry Name>\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1648,
        -480
      ],
      "id": "15b0871e-47b1-41e0-83ff-92c91e9a991d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c",
          "mode": "list",
          "cachedResultName": "13.12.25-Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $('Loop Over Items').item.json['First Name'] }}",
            "status": "N/A"
          },
          "matchingColumns": [
            "First Name"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Email ",
              "displayName": "Primary Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mobile Phone",
              "displayName": "Mobile Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Phone number",
              "displayName": "Company Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Person Linkedin Url",
              "displayName": "Person Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Linkedin Url",
              "displayName": "Company Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -688
      ],
      "id": "c80a715a-512f-4403-80cd-cd4027fd5286",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c",
          "mode": "list",
          "cachedResultName": "13.12.25-Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $('Apollo Api - person  people ').item.json.contacts[0].first_name }}",
            "Last Name": "={{ $('Apollo Api - person  people ').item.json.contacts[0].last_name }}",
            "Title": "={{ $('Apollo Api - person  people ').item.json.contacts[0].title }}",
            "Company Name": "={{ $('Apollo Api - person  people ').item.json.breadcrumbs[0].display_name }}",
            "Mobile Phone": "={{ $('Apollo Api - person  people ').item.json.contacts[0].organization.primary_phone.number }}",
            "Website": "={{ $('Apollo Api - person  people ').item.json.contacts[0].account.website_url }}",
            "Company Linkedin Url": "={{ $('Apollo Api - person  people ').item.json.contacts[0].account.linkedin_url }}",
            "City": "={{ $('Apollo Api - person  people ').item.json.contacts[0].city }}",
            "State": "={{ $('Apollo Api - person  people ').item.json.contacts[0].state }}",
            "Country": "={{ $('Apollo Api - person  people ').item.json.contacts[0].country }}",
            "Email": "={{ $('Million Verify - Email Verify').item.json.email }}",
            "Email Status": "={{ $('Million Verify - Email Verify').item.json.quality }}",
            "Person Linkedin Url": "={{ $('Apollo Api - person  people ').item.json.contacts[0].linkedin_url }}",
            "Primary Email ": "={{ $('Apollo Api - person  people ').item.json.contacts[0].contact_emails[1].email }}",
            "Industry": "={{ $json.output.industry }}",
            "Company Phone number": "=,{{ $('Apollo Api - person  people ').item.json.contacts[0].organization.primary_phone.number }}",
            "status": "Done",
            "row_number": 0
          },
          "matchingColumns": [
            "First Name"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email ",
              "displayName": "Primary Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Phone",
              "displayName": "Mobile Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Phone number",
              "displayName": "Company Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Person Linkedin Url",
              "displayName": "Person Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Linkedin Url",
              "displayName": "Company Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        -688
      ],
      "id": "7a79e68a-2ae4-4471-8ce2-f350bbd6bfab",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Api - person  people ": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Million Verify - Email Verify": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Apollo Api - person  people ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Update row in sheet1": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Million Verify - Email Verify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "170ceb6b-ab2b-4eb9-9e15-cdcbc01404f8",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-01T14:17:05.471Z",
      "createdAt": "2025-11-01T14:17:05.471Z",
      "role": "workflow:owner",
      "workflowId": "vjP88GmCjb798UDz",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}