Backup_2026-02-25/Website - sckrp
{
  "updatedAt": "2025-11-25T13:07:39.000Z",
  "createdAt": "2025-11-16T20:33:28.837Z",
  "id": "UD3k0GN7nZosJFXM",
  "name": "Website - sckrp",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Provide below info from website>>\n\nStreet:\nCity:\nState:\nZip code:\n\nযদি কোনো তথ্য না পাও, শুধু \"Not Found\" লিখবে।\n\nOutput Format:\nStreet\nCity\nState\nZip Code\n\n\nURL: [{{ $json.Website }}]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        224
      ],
      "id": "c1bf1bb0-3379-4bda-a3cb-e0b8cf613d10",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "// Get AI Agent output as raw text\nconst raw = $json.output || \"\";\n\n// Split text by new lines\nconst lines = raw\n  .split(\"\\n\")\n  .map(l => l.trim())\n  .filter(l => l.length > 0);\n\n// Create structured output\nreturn [\n  {\n    json: {\n      website: lines[0] || \"\",\n      address: lines[1] || \"\",\n      city: lines[2] || \"\",\n      state: lines[3] || \"\",\n      zipcode: lines[4] || \"\",\n      phone: lines[5] || \"\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        240
      ],
      "id": "55eae9c8-7ed9-4889-9b5f-c85eb81502ea",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        240
      ],
      "id": "fa9787f7-cbe2-4576-8d27-4aed57705499",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "175181e6-475d-49ed-b999-f386a7dcfbe7",
              "leftValue": "={{ $json.ST }}",
              "rightValue": "Panding",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -240,
        240
      ],
      "id": "847eaddd-e111-42eb-b1b1-b2b9fc17ade9",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -16,
        240
      ],
      "id": "825e9b6b-d468-460f-a348-7e96b143520b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        240
      ],
      "id": "a1f20266-b8a1-49a9-8ba0-8744cf8f657a",
      "name": "Wait",
      "webhookId": "03f10b8c-00da-46ab-b8d7-c4ad86c99645"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        464
      ],
      "id": "05f2e133-c79c-4b20-b72f-39821c4def39",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aJPd0yr05GPOWBbP",
          "name": "HD"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w",
          "mode": "list",
          "cachedResultName": "asst, 11.21.25-Mic- data Upate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1129949800,
          "mode": "list",
          "cachedResultName": "Contacts_2025_11_20",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w/edit#gid=1129949800"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "P:AA"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -512,
        240
      ],
      "id": "456d1ca7-a421-4ae5-8e67-f8249c86bb6a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w",
          "mode": "list",
          "cachedResultName": "asst, 11.21.25-Mic- data Upate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1129949800,
          "mode": "list",
          "cachedResultName": "Contacts_2025_11_20",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w/edit#gid=1129949800"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Record Id",
              "displayName": "Record Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Media Type",
              "displayName": "Media Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mailing Street",
              "displayName": "Mailing Street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contacts Scoring Rule Score",
              "displayName": "Contacts Scoring Rule Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MVPD Subs",
              "displayName": "MVPD Subs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OTA Homes (2025)",
              "displayName": "OTA Homes (2025)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TV Homes (2025)",
              "displayName": "TV Homes (2025)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SRL",
              "displayName": "SRL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mailing Address",
              "displayName": "Mailing Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mailing City",
              "displayName": "Mailing City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mailing State",
              "displayName": "Mailing State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mailing Zip Code",
              "displayName": "Mailing Zip Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mailing Address",
              "displayName": "Mailing Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mailing City",
              "displayName": "Mailing City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mailing State",
              "displayName": "Mailing State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mailing Zip Code",
              "displayName": "Mailing Zip Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EX",
              "displayName": "EX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        240
      ],
      "id": "cc0f55f6-59fb-4111-9d2d-012c3d5dda6a",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    }
  ],
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "rag-starter-template",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5a5ff9b3-3caf-4c81-92a2-9acd08d41ec4",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-16T20:33:28.840Z",
      "createdAt": "2025-11-16T20:33:28.840Z",
      "role": "workflow:owner",
      "workflowId": "UD3k0GN7nZosJFXM",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}