Backup_2026-02-23/From Workflo
{
  "updatedAt": "2025-12-24T06:12:23.343Z",
  "createdAt": "2025-11-20T12:45:48.353Z",
  "id": "EH3oaQwUxahVbhGM",
  "name": "From Workflo",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Talukder International tech Group",
        "formDescription": "Talukder International Tech Group-এ আপনাকে স্বাগতম!\n\nএখানে আমরা একসাথে শিখি, কাজ করি এবং নিজেদের স্কিল আরও শক্তিশালী করি। টেক–সম্পর্কিত আপডেট, গাইডলাইন, সাপোর্ট ও এক্সপার্টদের মূল্যবান পরামর্শ পেতে এখনই আমাদের গ্রুপে যোগ দিন।\nআপনার প্রতিদিনের শেখা–দেখার সেরা জায়গা হতে পারে এই গ্রুপটি!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is yoru name?",
              "placeholder": "MD Ashik Talukder",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "ashiktalukder336@gmail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Number",
              "fieldType": "number",
              "placeholder": "+880 170715-9043",
              "requiredField": true
            },
            {
              "fieldLabel": "Description",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Submit",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "=       Form Submitted Successfully!\n\nআপনাকে আন্তরিক ধন্যবাদ!\nআপনার তথ্য আমরা সফলভাবে গ্রহণ করেছি।\n\n📩 গুরুত্বপূর্ণ আপডেট, কনফার্মেশন ও নোটিফিকেশন পেতে আপনার Email ইনবক্স নিয়মিত চেক করুন।\n\nআমরা খুব শিগগিরই আপনাকে\nTalukder International Tech Group–এ যুক্ত করব।"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -288,
        0
      ],
      "id": "9ab9c84f-bf72-49af-a6bf-7ce130f12e45",
      "name": "On form submission",
      "webhookId": "206c5cd5-eb07-43f3-871b-ba0301d524e6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -48,
        0
      ],
      "id": "db43ee9c-0d1d-465a-ac13-7f4007f779e9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "1adc4f5a-6e27-4b97-84b8-a4a426a5e8c0",
      "name": "Wait",
      "webhookId": "68506558-aac2-4a91-a409-dd5b63ed6439"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const row = item.json;\n  if (!row.UniqueID) {\n    row.UniqueID = 'ID' + Math.floor(100000 + Math.random() * 900000);\n  }\n  return { json: row };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "38471d65-4929-49bf-9289-a39a0bcaef7a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "78a625ff-0aa7-4673-8c73-7a68f6968608",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appxOjTSbq9ftvyyU",
          "mode": "list",
          "cachedResultName": "Tast CV",
          "cachedResultUrl": "https://airtable.com/appxOjTSbq9ftvyyU"
        },
        "table": {
          "__rl": true,
          "value": "tbl2njL1QgBg69sJt",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appxOjTSbq9ftvyyU/tbl2njL1QgBg69sJt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Number": "={{ $('Code in JavaScript').item.json.UniqueID }}",
            "Decreptshon": "={{ $('Code in JavaScript').item.json.Description }}",
            "Status": "In progress",
            "Number": "={{ $('Code in JavaScript').item.json.Number }}",
            "Email": "={{ $('Code in JavaScript').item.json.Email }}",
            "Name": "={{ $('Code in JavaScript').item.json['What is yoru name?'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Decreptshon",
              "displayName": "Decreptshon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID Number",
              "displayName": "ID Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true,
          "updateAllMatches": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        16
      ],
      "id": "3243751e-1829-4aa7-b82f-89272a446e30",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "MNVBjWpxBATgifab",
          "name": "Airtable Personal Access Token account 45"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "subject": "Welcome to Talukder International Tech Group!",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Welcome Email</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f4f7;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      width: 100%;\n      max-width: 600px;\n      margin: 0 auto;\n      background-color: #ffffff;\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n    }\n    .header {\n      background-color: #0d6efd;\n      color: #ffffff;\n      text-align: center;\n      padding: 30px 20px;\n    }\n    .header h1 {\n      margin: 0;\n      font-size: 24px;\n    }\n    .body {\n      padding: 20px;\n      color: #333333;\n      line-height: 1.6;\n    }\n    .body h2 {\n      color: #0d6efd;\n    }\n    .code-box {\n      display: inline-block;\n      padding: 10px 15px;\n      background-color: #f0f0f0;\n      border-radius: 5px;\n      font-weight: bold;\n      margin: 15px 0;\n      color: #0d6efd;\n      font-family: monospace;\n    }\n    .button {\n      display: inline-block;\n      margin: 20px 0;\n      padding: 12px 25px;\n      background-color: #0d6efd;\n      color: #ffffff !important;\n      text-decoration: none;\n      border-radius: 5px;\n    }\n    .footer {\n      text-align: center;\n      font-size: 12px;\n      color: #999999;\n      padding: 15px 20px;\n      background-color: #f4f4f7;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Welcome to Talukder International Tech Group!</h1>\n    </div>\n    <div class=\"body\">\n      <p>Hi <strong>[{{ $json.fields.Name }}]</strong>,</p>\n      <p>Thank you for filling out our form! We are thrilled to have you as a part of <strong>Talukder International Tech Group</strong>.</p>\n      <p>To access our exclusive community and services, please use your personal code:</p>\n      <div class=\"code-box\">\n        [{{ $json.fields['ID Number'] }}]\n      </div>\n      <p>We specialize in AI Automation, Data Entry Services, and Facebook Ads Management, and we're here to help you achieve your goals with professional support.</p>\n      <p>Get started by exploring our services and stay connected for the latest updates and insights.</p>\n      <a href=\"https://www.talukderinttech.com\" class=\"button\">Visit Our Website</a>\n      <p>If you have any questions, feel free to reply to this email. We're always happy to help!</p>\n      <p>Best regards,<br>\n      <strong>MD Ashik Talukder</strong><br>\n      Talukder International Tech Group</p>\n    </div>\n    <div class=\"footer\">\n      &copy; 2025 Talukder International Tech Group. All rights reserved.\n    </div>\n  </div>\n</body>\n</html>\n\n",
        "options": {
          "appendAttribution": false,
          "senderName": "Talukder IT Group"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        16
      ],
      "id": "f0816a89-be11-457d-a5e9-e088d6182e54",
      "name": "Send a message1",
      "webhookId": "469df5dc-ff94-4f38-9723-97ba4387bd4b",
      "credentials": {
        "gmailOAuth2": {
          "id": "F4MZBexAGBJF5N0V",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appxOjTSbq9ftvyyU",
          "mode": "list",
          "cachedResultName": "Tast CV",
          "cachedResultUrl": "https://airtable.com/appxOjTSbq9ftvyyU"
        },
        "table": {
          "__rl": true,
          "value": "tbl2njL1QgBg69sJt",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appxOjTSbq9ftvyyU/tbl2njL1QgBg69sJt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Number": "={{ $('Code in JavaScript').item.json.UniqueID }}",
            "Decreptshon": "={{ $('Code in JavaScript').item.json.Description }}",
            "Status": "Done",
            "Number": "={{ $('Code in JavaScript').item.json.Number }}",
            "Email": "={{ $('Code in JavaScript').item.json.Email }}",
            "Name": "={{ $('Code in JavaScript').item.json['What is yoru name?'] }}",
            "Date": "2025-11-20T20:26:47",
            "id": "={{ $('Create or update a record').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Decreptshon",
              "displayName": "Decreptshon",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID Number",
              "displayName": "ID Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true,
          "updateAllMatches": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1632,
        16
      ],
      "id": "5fff8748-f2f9-421e-9e97-9fea377f23e5",
      "name": "Create or update a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "MNVBjWpxBATgifab",
          "name": "Airtable Personal Access Token account 45"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=talukderitgroup@gmail.com",
        "subject": "=ফর্ম পূরণ করেছেন - {{ $('Code in JavaScript').item.json.UniqueID }}",
        "emailType": "text",
        "message": "=ফর্ম পূরণ করেছেন \nID: {{ $('Code in JavaScript').item.json.UniqueID }}\nDate: {{ $json.fields.Date }}\nName: {{ $json.fields.Name }}\nNumber: {{ $json.fields.Number }}\nEmail: {{ $json.fields.Email }}\nDescriptshon: {{ $json.fields.Decreptshon }}\n\n",
        "options": {
          "appendAttribution": false,
          "senderName": "From Submite"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        352,
        -176
      ],
      "id": "7cd508ab-db84-4611-a125-ef7743ab3630",
      "name": "Send a message",
      "webhookId": "3e5b04c1-95fb-4657-ac9a-90e609c1a413",
      "credentials": {
        "gmailOAuth2": {
          "id": "E7o8gPU8gx563Ed1",
          "name": "azadtalukder1122@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        16
      ],
      "id": "40e53059-467a-47c4-9821-9f980f07322b",
      "name": "Wait1",
      "webhookId": "95752f87-bc13-4d16-a5ec-bbf048d9afac"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Create or update a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b5fc99ff-d22e-4444-b98f-7a448b856c30",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-20T12:45:48.357Z",
      "createdAt": "2025-11-20T12:45:48.357Z",
      "role": "workflow:owner",
      "workflowId": "EH3oaQwUxahVbhGM",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}