Backup_2026-02-27/Email -Marketing
{
  "updatedAt": "2025-12-24T18:04:02.181Z",
  "createdAt": "2025-10-28T06:46:40.130Z",
  "id": "atQK9YIO7aWp8CEG",
  "name": "Email -Marketing",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU",
          "mode": "list",
          "cachedResultName": "11.03.25- dan-South Florida_Lawyers_List_v1- 244 Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1180845993,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU/edit#gid=1180845993"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1104,
        144
      ],
      "id": "a6f4d807-fcdf-4228-a948-cc5466a5924b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gHXMmp6AHZJFyJqb",
          "name": "Google Sheets account 81"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -432,
        144
      ],
      "id": "580516f0-3a9a-4486-b68c-f04ad2a32a60",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        144
      ],
      "id": "f4f1e128-9952-4d79-9d46-ab87844516ab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Gmail }}",
        "subject": "561-Abogado is available for your firm",
        "emailType": "text",
        "message": "=Hi {{ $json.Name }}, One of the most memorable vanity local phone numbers for the legal community is available in the South Florida area. 561-Abogado is a strong vanity number because it displays the actual thing that a client wants at the time they need it, a lawyer / abogado. \n\nThe use of a vanity number in your advertisements, can increase your ROI because clients are more likely to remember the number when they need it. Additionally, 561-Abogado is a perfect vanity number in the sense that its exactly 7 digits plus an area code. \n\nIf you are looking to increase your call volume, a vanity number is a great method of accomplishing this. If you are interested in more information, please reply to this email. \n\n\nThank you \nNBC South \nP.O. Box 14-0216 \nCoral Gables, FL 33114\n",
        "options": {
          "appendAttribution": false,
          "senderName": "NBC South ",
          "replyTo": "dan@nbcsouth.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        144
      ],
      "id": "24e5fd07-2a43-4be5-90e5-3fbfd3f6dbad",
      "name": "Send a message",
      "webhookId": "0556e093-efa0-42f2-bec8-47767e15023c",
      "credentials": {
        "gmailOAuth2": {
          "id": "F4MZBexAGBJF5N0V",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU",
          "mode": "list",
          "cachedResultName": "11.03.25- dan-South Florida_Lawyers_List_v1- 244 Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1180845993,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU/edit#gid=1180845993"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Thread ID": "={{ $json.threadId }}",
            "Status": "={{ $json.labelIds[0] }}",
            "Name": "={{ $('Get row(s) in sheet').item.json.Name }}",
            "Reply_Received": "FALSE",
            "Follow_up_Sent": "FALSE",
            "First_Email_Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title ",
              "displayName": "Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_Email_Date",
              "displayName": "First_Email_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply_Received",
              "displayName": "Reply_Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow_up_Sent",
              "displayName": "Follow_up_Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow_up_Date",
              "displayName": "Follow_up_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        144
      ],
      "id": "b9fcf7f0-971c-49cf-9d0e-1a8ada3a1598",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        144
      ],
      "id": "78b31a39-8e9b-416c-ad2c-c3a92376fe10",
      "name": "Wait",
      "webhookId": "88787ae7-b5ed-4141-aeeb-3ded94836663"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4c16760-f71c-4a07-a705-d9d005f24275",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -656,
        144
      ],
      "id": "dae4f082-805e-483f-9f5a-a332606fe2d2",
      "name": "Filter"
    },
    {
      "parameters": {
        "sendTo": "=ashiktalukder336@gmail.com",
        "subject": "=Today {{ $('Code in JavaScript').item.json.total_sent }}  email send successful ",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"Ashik\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Email Status Report</title>\n  <style>\n    body {\n      margin: 0;\n      padding: 0;\n      background-color: #f6f8fa;\n      font-family: Arial, sans-serif;\n      color: #333333;\n    }\n    .container {\n      max-width: 480px;\n      margin: 40px auto;\n      background: #ffffff;\n      border-radius: 8px;\n      box-shadow: 0 1px 5px rgba(0,0,0,0.1);\n      overflow: hidden;\n    }\n    .header {\n      background-color: #0078d7;\n      color: #ffffff;\n      text-align: center;\n      padding: 16px;\n      font-size: 18px;\n      font-weight: 600;\n    }\n    .content {\n      padding: 24px;\n      text-align: center;\n    }\n    .content h2 {\n      margin: 0 0 8px;\n      color: #0078d7;\n      font-size: 20px;\n    }\n    .content p {\n      margin: 0;\n      font-size: 15px;\n      line-height: 1.5;\n    }\n    .footer {\n      text-align: center;\n      background-color: #f0f1f3;\n      color: #666666;\n      font-size: 12px;\n      padding: 12px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      Daily Report\n    </div>\n    <div class=\"content\">\n      <h2>Today {{ $('Code in JavaScript').item.json.total_sent }} Email Send Successful</h2>\n      <p>All emails were delivered successfully and processed without error.</p>\n      <p>Have a productive day ahead.</p>\n    </div>\n    <div class=\"footer\">\n      © 2025 B2B GDC\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false,
          "senderName": "Email - Marketing"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        464,
        -48
      ],
      "id": "b3bd06c1-ae2f-43ee-8b6d-ae1f226c2aba",
      "name": "Send a message1",
      "webhookId": "0556e093-efa0-42f2-bec8-47767e15023c",
      "credentials": {
        "gmailOAuth2": {
          "id": "F4MZBexAGBJF5N0V",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const totalSent = $input.all().length;\nreturn [{\n  json: {\n    total_sent: totalSent,\n    date: new Date().toISOString().split('T')[0],\n    message: `আপনার ${totalSent} টি Email সফলভাবে পাঠানো হয়েছে! ✅`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -48
      ],
      "id": "9cead8c2-670b-4213-823d-7428bb10f86b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU",
          "mode": "list",
          "cachedResultName": "11.03.25- dan-South Florida_Lawyers_List_v1- 244 Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1153999124,
          "mode": "list",
          "cachedResultName": "Email Body and subject",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iEZc_t8FKyp_3kcrIZpugfiP35bAMBj6uSHYiPSzpqU/edit#gid=1153999124"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Completed",
            "Date": "={{$json[\"date\"]}}",
            "Emails_Sent": "={{$json[\"total_sent\"]}}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Email Body",
              "displayName": "Email Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reply Email",
              "displayName": "Reply Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails_Sent",
              "displayName": "Emails_Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Replies_Received",
              "displayName": "Replies_Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -48
      ],
      "id": "97ed516c-d79b-4334-b890-3c1a1f61b390",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const row = item.json;\n  if (!row.UniqueID) {\n    row.UniqueID = 'ID' + Math.floor(100000 + Math.random() * 900000);\n  }\n  return { json: row };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        144
      ],
      "id": "deb7c2c6-7091-4cff-93aa-dc59e2d55008",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1312,
        144
      ],
      "id": "ea07f7db-4e57-45c7-b35a-17115867429a",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "be58e63a-3960-4187-9fdc-ec8cc4b5c062",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-28T06:46:40.133Z",
      "createdAt": "2025-10-28T06:46:40.133Z",
      "role": "workflow:owner",
      "workflowId": "atQK9YIO7aWp8CEG",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}