Backup_2026-02-03/Email Tamplate Chaker
{
  "updatedAt": "2025-12-11T06:41:50.717Z",
  "createdAt": "2025-10-27T06:26:01.325Z",
  "id": "7ANP2aITaYNTt8hS",
  "name": "Email Tamplate Chaker",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -16
      ],
      "id": "47ba08aa-c2bf-4763-b6df-2aba0541eae6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sendTo": "=ashiktalukder9043@gmail.com",
        "subject": "=Verified B2B Contact Lists for Smarter Outreach",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n  <body style=\"margin:0; padding:0; font-family: Arial, sans-serif; background-color:#f5f5f5;\">\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#f5f5f5;\">\n      <tr>\n        <td align=\"center\" style=\"padding:20px 10px;\">\n          <!-- Container -->\n          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"max-width:600px; background-color:#ffffff; border-radius:6px; overflow:hidden;\">\n            <tr>\n              <td style=\"padding:20px 24px; font-size:14px; line-height:1.5; color:#333333;\">\n\n                <!-- Subject comes from JSON -->\n                <h2 style=\"margin:0 0 12px; font-size:18px; color:#111111;\">\n                  {{ $json[\"email_subject\"] }}\n                </h2>\n\n                <!-- Body (generated by AI, without signature) -->\n                <p style=\"margin:0 0 16px; white-space:pre-line;\">\n                  {{ $json[\"email_body\"] }}\n                </p>\n\n                <!-- Signature block (exact text, with line breaks) -->\n                <p style=\"margin:0; white-space:pre-line;\">\nZakaria Alam Mithu\nB2B Lead Generation Expert\nTop Rated Freelancer on Upwork &amp; Level Two Seller on Fiverr\n                </p>\n\n              </td>\n            </tr>\n          </table>\n          <!-- /Container -->\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>",
        "options": {
          "appendAttribution": false,
          "senderName": "B2B GDC",
          "replyTo": "ashiktalukder9043@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        -16
      ],
      "id": "bb4098f7-a845-4d3f-93fd-9da413f05511",
      "name": "Send a message",
      "webhookId": "f5c7dfb7-32f9-4dcb-886f-1975cfb6e4fa",
      "credentials": {
        "gmailOAuth2": {
          "id": "F4MZBexAGBJF5N0V",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA",
          "mode": "list",
          "cachedResultName": "Tast 999- Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pagRKWB87IRzIfvqZJ8vXThl0i0u3hpYLTHAoqFvouA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -16
      ],
      "id": "1d617649-9659-48cc-ac72-63701ff4d22b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        -16
      ],
      "id": "3cc5d6b1-d4cc-42b3-8d4d-e1e65e3d79bb",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4fbfa62f-efdb-4abc-9bdf-dea426fe9fb6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-27T06:26:01.360Z",
      "createdAt": "2025-10-27T06:26:01.360Z",
      "role": "workflow:owner",
      "workflowId": "7ANP2aITaYNTt8hS",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}