Backup_2026-02-09/22.12.25-Company Name  To Lead
{
  "updatedAt": "2026-01-11T18:09:32.936Z",
  "createdAt": "2025-12-20T05:25:55.091Z",
  "id": "oEZzkUoIEBGdRP7T",
  "name": "22.12.25-Company Name  To Lead",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "509e33ec-3b8d-48a6-9f62-0cdb3b2f7b39",
              "leftValue": "=",
              "rightValue": "={{ $('On form submission').item.json['Website Heir'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        2080
      ],
      "id": "efd4ba14-43d3-46df-a4e4-473969e11c2e",
      "name": "If11"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c",
          "mode": "list",
          "cachedResultName": "13.12.25-Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin Profile Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZyKplXVabNLaua7OIxBoUQ9QlAFNiVEC90G3qFLa1c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $('Loop Over Items11').item.json['First Name'] }}",
            "status": "N/A"
          },
          "matchingColumns": [
            "First Name"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Email ",
              "displayName": "Primary Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mobile Phone",
              "displayName": "Mobile Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Phone number",
              "displayName": "Company Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Person Linkedin Url",
              "displayName": "Person Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Linkedin Url",
              "displayName": "Company Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        2288
      ],
      "id": "d2ce5aef-8756-4598-81e9-55ec484206a2",
      "name": "Update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "qhGgsK3EjSzRfWNpHTqRuw"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"page\": 1,\n  \"per_page\": 25,\n  \"organization_ids\": [\n    \"{{ $json.accounts[0].organization_id }}\"\n  ],\n  \"person_titles\": [\n    \"Owner\",\n    \"Founder\",\n    \"CEO\",\n    \"Managing Director\",\n    \"Director\",\n    \"CMO\"\n  ],\n  \"seniority_levels\": [\n    \"owner\",\n    \"c_suite\",\n    \"director\"\n  ],\n  \"email_status\": \"verified\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        1888
      ],
      "id": "f6847b9d-dabf-4600-9815-70d2e576a7a4",
      "name": "Apollo Api - person  people "
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_companies/search ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key                ",
              "value": "qhGgsK3EjSzRfWNpHTqRuw"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q_organization_name\": \"{{ $json['Website Heir'] }}\",\n  \"page\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -496,
        2080
      ],
      "id": "725fe3df-2b43-467b-b216-a8760f3436c6",
      "name": "Company Info inqure1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a604c88-7824-45d5-ba7a-99f26fc128c9",
              "leftValue": "={{ $json.contacts }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "05a3a96d-ec87-4fad-bec6-6a8b702fe711",
              "leftValue": "={{ $json.people }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        1888
      ],
      "id": "2fa6750f-382e-4cff-b0b8-ab010cd5a682",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0c6df10-5f50-4bb1-b3f1-14020245aeb6",
              "name": "people",
              "value": "={{ $('Apollo Api - person  people ').item.json.people }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        2416
      ],
      "id": "a09e4d28-3687-41e6-b06c-6193521aec1c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5eb6c38-b234-4453-9108-95dcf1b1e288",
              "name": "contacts",
              "value": "={{ $json.contacts }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1360
      ],
      "id": "9f8b224c-11e3-444f-88cc-4c672eba7101",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "contacts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        784,
        1360
      ],
      "id": "ff045447-dfec-4c80-88d9-893fe97cbebc",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "people",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        736,
        2416
      ],
      "id": "68eb5642-b78e-472c-8e92-097bb33474c7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "formTitle": "Lead ",
        "formDescription": "01/11/2026",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Website Heir"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -752,
        2080
      ],
      "id": "93fd87c3-ca90-4a4c-b2cd-07d54963614a",
      "name": "On form submission",
      "webhookId": "883ad2bb-9d5a-4ab1-a341-8510ac86e4c4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_companies/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "qhGgsK3EjSzRfWNpHTqRuw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "website",
              "value": "={{ $json['Website Heir'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        2464
      ],
      "id": "9912382d-22cf-48d9-9e5d-975273948c1a",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "If11": {
      "main": [
        [
          {
            "node": "Apollo Api - person  people ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet4": {
      "main": [
        []
      ]
    },
    "Apollo Api - person  people ": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Info inqure1": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "46cd550e-bad0-48f0-8f94-1f73d2fe1dd9",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-20T05:25:55.095Z",
      "createdAt": "2025-12-20T05:25:55.095Z",
      "role": "workflow:owner",
      "workflowId": "oEZzkUoIEBGdRP7T",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}