Backup_2026-02-20/AI AUTOMATION 24  ( WEBSITE )
{
  "updatedAt": "2026-02-08T17:16:27.896Z",
  "createdAt": "2026-01-21T14:44:43.395Z",
  "id": "iREPbpRE6HQILFIH",
  "name": "AI AUTOMATION 24  ( WEBSITE )",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai_automation_24",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        -1136
      ],
      "id": "1e7b738b-8d78-4b14-b753-e3f01538cd3b",
      "name": "Webhook",
      "webhookId": "e53d4c09-be90-4544-8075-46a9785c656e",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        -976
      ],
      "id": "bddae3ac-6fab-43ed-952d-b4040d8628b1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        -688
      ],
      "id": "8994ab43-ddda-47f8-bc72-ee09466d31b0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kJLoRYIDwLZ2nCv7",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "https://freelancersshop.com",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        336,
        -656
      ],
      "id": "eaccdc28-f1b3-4bee-9bcf-b810ad434ebf",
      "name": "Website"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant\n\nAll Info My Serpapi suing info ,your tools a asa "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        96,
        -944
      ],
      "id": "b50db047-d872-4fcf-b730-eb6d3306cb2f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -320,
        -944
      ],
      "id": "c3ce3305-8825-4d64-9240-e057e89aa556",
      "name": "When chat message received",
      "webhookId": "1afddd2b-ff0c-4125-9200-71fe981e11fa"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        -736
      ],
      "id": "600775c3-0e1c-4ee5-b134-064fdb6c3e9f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "google_domain": "aiautomation24.com"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        528,
        -640
      ],
      "id": "69dc8ade-f61a-457d-b40c-0fbc1cc07741",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "1FZttO7QowvCZr41",
          "name": "SerpAPI account 10"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Website": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "server3.automationlearners.pro",
            "user-agent": "Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.70.0)",
            "content-length": "492",
            "accept": "*/*",
            "accept-encoding": "gzip,br",
            "accept-language": "*",
            "content-type": "application/json",
            "x-forwarded-for": "65.2.171.109",
            "x-forwarded-host": "server3.automationlearners.pro",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3b827d7ca05b",
            "x-real-ip": "65.2.171.109"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "hi",
            "image": null,
            "messages": [
              {
                "role": "assistant",
                "content": "Welcome to AUTOMATION 24. I'm your AI solutions consultant. How can I assist you with our automation and chatbot services today? You can also share images with me!"
              },
              {
                "role": "user",
                "content": "hi"
              },
              {
                "role": "assistant",
                "content": "I apologize for the inconvenience. Please try again or reach out to us directly via WhatsApp for immediate assistance."
              },
              {
                "role": "user",
                "content": "hi"
              }
            ],
            "timestamp": "2026-01-23T16:07:27.919Z"
          },
          "webhookUrl": "https://server3.automationlearners.pro/webhook/ai_automation_24",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "872c30b4-a203-4ba7-88f0-4b5647420d6f",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-21T14:44:43.398Z",
      "createdAt": "2026-01-21T14:44:43.398Z",
      "role": "workflow:owner",
      "workflowId": "iREPbpRE6HQILFIH",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}