Backup_2026-03-01/Discod  Chat Bot
{
  "updatedAt": "2026-02-03T18:31:12.542Z",
  "createdAt": "2026-01-31T18:02:00.938Z",
  "id": "4mR9EPCg0R8IrQqK",
  "name": "Discod  Chat Bot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "12e0a08f-2014-4e75-8a90-dfc664f4d8af",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3392,
        96
      ],
      "id": "4910e32e-8d5e-4e32-9917-53dfcba3a178",
      "name": "Webhook",
      "webhookId": "12e0a08f-2014-4e75-8a90-dfc664f4d8af"
    },
    {
      "parameters": {
        "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2896,
        -32
      ],
      "id": "071cb884-0e84-440e-b01f-984a7880441f",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1daf0664-a824-4438-ba7f-5b2ccf1b7e4c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9f9f9aa-3897-4cd7-a9c2-ba850ecce4d9",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Taxt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "55dce9ab-094c-424f-a6e9-5439098f4d7b",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3152,
        80
      ],
      "id": "77ea7f78-f47f-468b-93ce-ec362476d317",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dece9eb1-a5b5-4cb0-b2d8-5ead7d6137fb",
              "name": "['0'].content[0].text",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2592,
        -32
      ],
      "id": "91b153c3-1913-413e-a9fc-566a0304d1d6",
      "name": "Image Quyery2"
    },
    {
      "parameters": {
        "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2896,
        224
      ],
      "id": "5b5f4124-7753-403f-bede-261fe3d10c13",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2736,
        -32
      ],
      "id": "018a937f-facd-4810-aa17-0daf3ee0754e",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "7prG4gdV03YlxXfl",
          "name": "Zakaria Vai Api"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2720,
        224
      ],
      "id": "e65c1d6a-d26e-4903-8987-00b89922b459",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "7prG4gdV03YlxXfl",
          "name": "Zakaria Vai Api"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c808071e-5f14-4892-8221-0858e2314e9e",
              "name": "query",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        224
      ],
      "id": "8d54a7e1-8a6f-457b-afa6-243544255e21",
      "name": "Audio inquyrre"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "572175d1-681b-4e85-b8d3-8b281374a9d7",
              "name": "data.body.entry[0].messaging[0].message.text",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        96
      ],
      "id": "6ba01f84-7b7f-4a43-8fa3-20f6162e5b8a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://freelancersshop.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1968,
        448
      ],
      "id": "10a298bf-b429-4ba0-b84a-177b9a02b978",
      "name": "freelancers Shop"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2320,
        80
      ],
      "id": "18381938-87db-4cd4-ad61-c0ce35de3f26",
      "name": "Merge"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.userId }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2112,
        448
      ],
      "id": "4015283d-1e3c-4e53-9a68-37d40ca0ef7e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve the most relevant FreelancersShop product/policy info from Pinecone (price, stock, variants, links). Use for any product inquiry; never guess if info is missing.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "freelancersshop",
          "mode": "list",
          "cachedResultName": "freelancersshop"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1632,
        320
      ],
      "id": "4bcc3e14-8f62-46e5-82e1-8b56826e3a86",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "hqsjsagVa1VxJckJ",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1552,
        448
      ],
      "id": "3f00aef5-d8e3-4e0d-85dc-b8d687019b4b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "7prG4gdV03YlxXfl",
          "name": "Zakaria Vai Api"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xJr0O4K4kuZmALKvGVrUahiHMsaqoR_p5oKocoP6Zh4",
          "mode": "list",
          "cachedResultName": "Freelancers Shop",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xJr0O4K4kuZmALKvGVrUahiHMsaqoR_p5oKocoP6Zh4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1594525657,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xJr0O4K4kuZmALKvGVrUahiHMsaqoR_p5oKocoP6Zh4/edit#gid=1594525657"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_ID', ``, 'string') }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number', ``, 'string') }}",
            "Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Address', ``, 'string') }}",
            "Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item', ``, 'string') }}",
            "Color": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Color', ``, 'string') }}",
            "Size": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Size', ``, 'string') }}",
            "Design": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Design', ``, 'string') }}",
            "Product": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product', ``, 'string') }}",
            "Price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Price', ``, 'string') }}",
            " Total money ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_Total_money_', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Color",
              "displayName": "Color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Size",
              "displayName": "Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Design",
              "displayName": "Design",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Total money ",
              "displayName": " Total money ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1840,
        448
      ],
      "id": "be87c50c-9ff7-4635-af3d-64e20b9f2b74",
      "name": "Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.body.entry[0].messaging[0].message.text }}\n\nYou are the official customer support & sales assistant of FreelandersShop.com (Bangladesh).\n\nYour display name: MD Ashik Talukder  \nYou are a human customer service assistant (never say you are AI, bot, automation, or system).  \nAlways speak politely, respectfully, and address the customer as “Sir”.  \nYour tone should be humble, helpful, and calm with an Islamic mindset (politeness, honesty, gratitude).\n\nPRIMARY ROLE:\n- Provide accurate customer support\n- Help customers choose products\n- Guide customers step-by-step to complete an order\n\nIMPORTANT DATA SOURCE:\n- All product details, prices, stock, colors, sizes, availability, and descriptions are stored in the Pinecone Vector Store.\n- You MUST use Pinecone Vector Store data when answering product-related questions.\n- NEVER guess product price, stock, or availability.\n- If data is missing, politely ask the customer for the exact product name, link, or image.\n\nABOUT FREELANDERS SHOP:\n- 100% cotton fabric\n- Premium quality products\n- Trusted Bangladeshi brand\n\nOWNER INFORMATION:\nFreelanders Shop Owner: Zakaria Alam Mithu  \nFiverr Level 2 Seller & Upwork Top Rated Freelancer\n\nSHOP INFO:\nAddress: Mymensingh, Bhaluka, Square Master Bari  \nWebsite: https://freelandersshop.com  \nFacebook Page: (use Pinecone data if available)\n\nCUSTOMER ORDER INFORMATION TO COLLECT (step-by-step, never all at once):\n- Design / Logo\n- Color\n- Size\n- Quantity\n- Customer Name\n- Phone Number\n- Address (District + Police Station)\n\nORDER COLLECTION RULES:\n- First, send the order information checklist.\n- If the customer provides information one by one, request the missing fields one at a time.\n- Never overwhelm the customer.\n\nORDER REVIEW MESSAGE (before confirmation):\n“Thank you for providing all the information, Sir.\nPlease review your order details below. If everything is correct, I will confirm your order.”\n\nORDER CONFIRMATION MESSAGE:\n“Your order has been successfully placed, Sir!\nOrder ID: FS-XXX (use a 2–3 digit number)\nOur agent will contact you shortly to confirm the order.\nThank you for shopping with Freelanders Shop.”\n\nHUMAN AGENT REQUEST:\nIf a customer asks to talk to a human agent, immediately share this WhatsApp number:\n+8801560012314\n\nCRITICAL RULES:\n1. Never claim to be AI, automation, or a system.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You MUST respond ONLY in valid JSON.\nDo not write anything outside JSON.\nNo greetings, no explanations, no markdown, no emojis.\n\nThe JSON MUST exactly match this schema:\n\n{\n  \"reply_1\": \"string\",\n  \"reply_2\": \"string\"\n}\n\nRules:\n- reply_1: Answer the user's message (NO question).\n- reply_2: Ask EXACTLY ONE short question.\n- Always address the customer as \"Sir\".\n- Never say you are AI, bot, automation, or system.\n- Use Pinecone Vector Store for product data.\n- order_confirmed must be true ONLY when the user explicitly confirms the order.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2000,
        96
      ],
      "id": "f69247f4-08e4-4f74-9390-ab8eec73b6e2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"reply_1\": \"string\",\n  \"reply_2\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1712,
        448
      ],
      "id": "810a8e0f-2fe5-45c3-92c0-1dce8855e198",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1464954714885193878",
          "mode": "list",
          "cachedResultName": "Private Discuss community",
          "cachedResultUrl": "https://discord.com/channels/1464954714885193878"
        },
        "channelId": {
          "__rl": true,
          "value": "1468289714770677830",
          "mode": "id"
        },
        "content": "={{ $json.output.reply_1 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1648,
        96
      ],
      "id": "32cdf2b8-baa3-4222-b604-90f612a29b07",
      "name": "Send a message",
      "webhookId": "ca57f42b-d6ec-46bf-ad05-82c2aa6a528d",
      "credentials": {
        "discordBotApi": {
          "id": "EXGrXfnrTT7s1BZA",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1464954714885193878",
          "mode": "list",
          "cachedResultName": "Private Discuss community",
          "cachedResultUrl": "https://discord.com/channels/1464954714885193878"
        },
        "channelId": {
          "__rl": true,
          "value": "1468289714770677830",
          "mode": "id"
        },
        "content": "={{ $('AI Agent').item.json.output.reply_2 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1280,
        96
      ],
      "id": "f6963b28-f014-43d1-9ee5-8cda149097fa",
      "name": "Send a message1",
      "webhookId": "ca57f42b-d6ec-46bf-ad05-82c2aa6a528d",
      "credentials": {
        "discordBotApi": {
          "id": "EXGrXfnrTT7s1BZA",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1472,
        96
      ],
      "id": "fe2b52f1-2d8c-496b-a7ce-022ed38cf39a",
      "name": "Wait",
      "webhookId": "5eb002bc-815f-4395-b877-ad11eb0882e1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2304,
        400
      ],
      "id": "5d2e15c7-e4a9-430d-8224-f93e7709cf42",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HVOJkbENKAs8ikKY",
          "name": "mm"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Quyery2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Image Quyery2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Audio inquyrre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio inquyrre": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "freelancers Shop": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "server3.automationlearners.pro",
            "user-agent": "node",
            "content-length": "120",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "35.247.58.205",
            "x-forwarded-host": "server3.automationlearners.pro",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3b827d7ca05b",
            "x-real-ip": "35.247.58.205"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "direct_message",
            "userId": "1464856015559327889",
            "message": "কি কি প্রোডাক্ট আছে"
          },
          "webhookUrl": "https://server3.automationlearners.pro/webhook/12e0a08f-2014-4e75-8a90-dfc664f4d8af",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "84dfcfc9-f134-407e-b853-8995bdd73ff3",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-31T18:02:00.944Z",
      "createdAt": "2026-01-31T18:02:00.944Z",
      "role": "workflow:owner",
      "workflowId": "4mR9EPCg0R8IrQqK",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}