Backup_2026-03-01/Website data scripe
{
  "updatedAt": "2025-11-27T12:19:05.000Z",
  "createdAt": "2025-10-27T05:07:14.960Z",
  "id": "qKcOPyreXdRXc4d6",
  "name": "Website data scripe",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=I will give you a website URL. Your task is to fully scan and research the entire website and extract all email addresses found.\n\nRules:\n1. Do NOT include any explanation, description, or extra text.\n2. Do NOT add prefixes like “Email:”, “Found:”, etc.\n3. Output ONLY the email addresses, one per line.\n4. If no email address is found, output exactly: No email found\n\nExample output:\nashiktalukder336@gmail.com\n\nI will now give you the website link. Just return the email addresses.\n\n{{ $json.Website }}\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1344,
        112
      ],
      "id": "1434b680-c5af-4074-b022-e6febee5e6c0",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        96
      ],
      "id": "04a9f9cf-c9fd-4824-bf87-0264b75491b6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49b38c14-85ff-4855-86ce-ea8fea4e81dd",
              "leftValue": "={{ $json.EX }}",
              "rightValue": "Panding",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        656,
        96
      ],
      "id": "b1868b11-e4aa-4ac1-a5db-5bfdd8028e2a",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        96
      ],
      "id": "72bb485a-a7d2-4deb-8126-217aa9f4fc6f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1328,
        320
      ],
      "id": "dd92e9bb-f50c-49c3-aaf8-619cdede5db5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pXUTsjJAbzbKxF2A",
          "name": "freelancersshop@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3248,
        96
      ],
      "id": "080e1e9d-1a90-48c8-b917-699aa3c69288",
      "name": "Wait",
      "webhookId": "901c58cb-a0fc-49ac-b0a4-7a973d6933a2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w",
          "mode": "list",
          "cachedResultName": "asst, 11.21.25-Mic- data Upate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 310791914,
          "mode": "list",
          "cachedResultName": "Contacts_2025_11_20",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w/edit#gid=310791914"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        96
      ],
      "id": "0f74db17-d9da-40e0-a0d1-d5e2f1732f9a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w",
          "mode": "list",
          "cachedResultName": "asst, 11.21.25-Mic- data Upate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 310791914,
          "mode": "list",
          "cachedResultName": "Contacts_2025_11_20",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12XPRDEdEFpBx3pVM4sB6Y2oXpLURoS3cwtKleC0aK7w/edit#gid=310791914"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SRL": "={{ $('Loop Over Items').item.json.SRL }}",
            "Email": "={{ $json.output }}",
            "EX": "Done "
          },
          "matchingColumns": [
            "SRL"
          ],
          "schema": [
            {
              "id": "Record Id",
              "displayName": "Record Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Media Type",
              "displayName": "Media Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mailing Street",
              "displayName": "Mailing Street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contacts Scoring Rule Score",
              "displayName": "Contacts Scoring Rule Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MVPD Subs",
              "displayName": "MVPD Subs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OTA Homes (2025)",
              "displayName": "OTA Homes (2025)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TV Homes (2025)",
              "displayName": "TV Homes (2025)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EX",
              "displayName": "EX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SRL",
              "displayName": "SRL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mailing Address",
              "displayName": "Mailing Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mailing City",
              "displayName": "Mailing City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mailing State",
              "displayName": "Mailing State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mailing Zip Code",
              "displayName": "Mailing Zip Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        112
      ],
      "id": "63a35c3a-2c90-4b41-959e-b90e6891b614",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LyUMa6lnJRFCagwx",
          "name": "ashiktalukder9043@gmail.com"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7e95f836-af4e-4607-bf03-2d790928bcdf",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-27T05:07:14.963Z",
      "createdAt": "2025-10-27T05:07:14.963Z",
      "role": "workflow:owner",
      "workflowId": "qKcOPyreXdRXc4d6",
      "projectId": "OQG6AyXgb3w6ROOq"
    }
  ],
  "activeVersion": null,
  "tags": []
}